<app-header title="Status hinfügen" backButton="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-title class="ion-no-padding ion-margin-top">Zählernummer: {{ counterNumber }}</ion-title>
        <div class="card ion-margin-top">
          <form [formGroup]="counterForm" (ngSubmit)="submit()">
            <ion-item>
              <ion-label position="floating">Zählerstand</ion-label>
              <ion-input formControlName="status" type="number"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.status">
              <ng-container *ngIf="status.hasError(error.type) && (status.dirty || status.touched)">
                <div class="error-message">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ error.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-label position="floating">Datum</ion-label>
              <ion-input formControlName="date" type="date"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.date">
              <ng-container *ngIf="date.hasError(error.type) && (date.dirty || date.touched)">
                <div class="error-message">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ error.message }}
                </div>
              </ng-container>
            </div>

            <div class="ion-padding-top">
              <ion-button size="large" [disabled]="!counterForm.valid" type="submit" expand="block">Speichern</ion-button>
              <div *ngIf="isLoading" class="ion-padding-top loader">
                <ion-spinner color="primary"></ion-spinner>
              </div>

              <div *ngIf="isSent" class="ion-padding-top">
                <ion-text color="success">Ihre Eingaben wird gespeichrt</ion-text>
              </div>
            </div>

          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
