<app-header title="StromverbrauchApp"></app-header>

<ion-content [fullscreen]="true">
  <ion-row *ngIf="isLoading; else realContent">
    <ion-spinner color="primary"></ion-spinner>
  </ion-row>

  <ng-template #realContent>
    <div id="container">
      <ion-grid>
        <ion-row>
          <div class="full-width" *ngIf="data.length > 0; else noData">
            <ion-col size="12" *ngFor="let item of data">
              <ion-card>
                <ion-item lines="none">
                  <ion-label>
                    <h2>Zählernummer: {{ item.counterNumber }}</h2>
                    <h3 class="gray">{{item.date | date }}</h3>
                    <h3 class="gray">Preis pro KW: {{item.ppkw }}€</h3>
                    <h3 class="gray">Grundpreis: {{item.basicPrice }}€</h3>
                  </ion-label>
                </ion-item>
            
                <ion-card-content>
                  <h2>Status des Zähler</h2>
                  <ion-list *ngIf="item.status.length > 0">
                    <ion-item *ngFor="let state of item.status">
                      <ion-label>
                        <h2>{{state.status }} KW</h2>
                        <h3 class="gray">{{state.date | date }}</h3>
                      </ion-label>
                      <ion-icon icon="trash" (click)="deleteStatus($event, state)"></ion-icon>
                    </ion-item>
                  </ion-list>

                  <p><ion-text *ngIf="item.status.length == 0" color="warning" class="ion-margin-bottom">Keine Beiträge</ion-text></p>

                  <ion-button (click)="addStatus(item.counterNumber)"><ion-icon name="add"></ion-icon></ion-button>
                  <ion-button (click)="openChart(item.counterNumber)" [disabled]="item.status.length == 0" color="success"><ion-icon name="bar-chart"></ion-icon></ion-button>
                  <ion-button (click)="deleteCounter($event, item.counterNumber)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </div>
          
          <ng-template #noData>
            <ion-grid>
              <ion-row>
                <ion-col size="12" class="ion-margin-top">
                  <ion-text color="warning">Es gibt noch keine Zählern...</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-template>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button color="primary" (click)="addCounter()">Zähler einfügen</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
